.App {
  text-align: center;
  padding: 50px;
  width: 70%;
  margin: auto;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes jump-high {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

.characterGrid {
  display: grid;
  grid: auto / 1fr 1fr 1fr 1fr;
}

.selectedCharacters {
  display: grid;
  grid: auto / 1fr 1fr 1fr 1fr 1fr 1fr;
}

.character {
  cursor: pointer;
}

.character img {
  width: 30%;
  animation: jump infinite 0.5s linear;
}

.character img:hover {
  animation: jump-high infinite 0.5s linear;
}
